* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  background-color: blue;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 6fr 5fr;
  gap: 12px;
}
h2 {
  color: blue;
}
.c1 {
  background-color: white;
}
.c2 {
  background-color: white;
}
.c3 {
  background-color: white;
}
.c4 {
  background-color: white;
}
.c5 {
  background-color: white;
  grid-column: 3/4;
  grid-row: 1/3;
}
